<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- service -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- net work -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- high location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".CyberGoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CyberGo"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.fragment.trip.trip_detail.view_member_location.ViewLocationMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.trip.edit_trip.map_edit_location.review_location.ReviewLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signin.forgot_password.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.trip.edit_trip.map_edit_location.MapEditLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.profile.user_statistic.UserStatisticActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.rating_report.RatingReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.trip.edit_trip.EditTripInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view_vehicle.ViewVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.feedback.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.trip.trip_detail.TripDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.user_profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.go.find_trip.trip_found_detail.TripFoundDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.go.find_trip.FindTripActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.my_vehicle.vehicle_detail.VehicleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.my_vehicle.MyVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.go.vehicle_selection.VehicleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.chat.ChatActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.chat.message.MessageActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.chat.ChatActivity" />
        <activity
            android:name=".ui.main.notification.NotificationActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.fragment.account.profile.edit_phone.update_phone_verification.UpdatePhoneVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.profile.edit_phone.EditPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.profile.edit_profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.profile.edit_id_card.EditIdentityCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.driver_register.DriverRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.go.share_trip.add_share_trip_information.AddShareTripInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.account.VehicleTypeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.go.share_trip.multiple_destination.MultipleShareTripActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.fragment.go.share_trip.single_destination.SingleShareTripActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BackdoorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.verification.PhoneVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/orange_status_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.socket.SocketService" />
        <service
            android:name=".services.fcm.CyberGoNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>